SusieSmith_Task1.ipynb

Susie Smith

February 14, 2023

Task 1,
Read and work through Chapter 9 - Files & Exceptions - understand the examples

In [66]:
with open('accounts.txt', mode='w') as accounts:
    accounts.write('100 Jones 24.98\n')
    accounts.write('200 Doe 345.67\n')
    accounts.write('300 White 0.00\n')
    accounts.write('400 Stone -42.16\n')
    accounts.write('500 Rich 224.62\n')

print('100 Jones 24.98', file=accounts)

In [67]:
with open('grades.txt', mode='w') as grades:
    grades.write('1 Red A\n')
    grades.write('2 Green B\n')
    grades.write('3 White A\n')

In [68]:
with open('accounts.txt',mode='r') as accounts:
    print(f'{"Account":<10}{"Name":<10}{"Balance":>10}')
    for record in accounts:
        account, name, balance = record.split()
        print(f'{account:<10}{name:<10}{balance:>10}')

Account   Name         Balance
100       Jones          24.98
200       Doe           345.67
300       White           0.00
400       Stone         -42.16
500       Rich          224.62

In [69]:
with open('grades.txt', 'r') as grades:
    print(f'{"ID":<4}{"Name":<7}{"Grade"}')
    for record in grades:
        student_id, name, grade = record.split()
        print(f'{student_id:<4}{name:<7}{grade}')

ID  Name   Grade
1   Red    A
2   Green  B
3   White  A

In [70]:
accounts = open('accounts.txt', 'r')

In [71]:
temp_file = open('temp_file.txt', 'w')

In [72]:
with accounts, temp_file:
    for record in accounts:
        account, name, balance = record.split()
        if account !='300':
            temp_file.write(record)
        else:
                new_record = ' '.join([account, 'Williams', balance])
                temp_file.write(new_record + '\n')

In [73]:
import os

In [74]:
os.remove('accounts.txt')

In [75]:
os.rename('temp_file.txt', 'accounts.txt')

In [76]:
accounts_dict = {'accounts': [
    {'account': 100, 'name': 'Jones', 'balance': 24.98},
    {'account': 200, 'name': 'Doe', 'balance': 345.67}]}

In [77]:
import json

In [78]:
with open('accounts.json', 'w') as accounts:
    json.dump(accounts_dict, accounts)

In [79]:
with open('accounts.json', 'r') as accounts:
    accounts_json = json.load(accounts)

In [80]:
accounts_json

{'accounts': [{'account': 100, 'name': 'Jones', 'balance': 24.98},
  {'account': 200, 'name': 'Doe', 'balance': 345.67}]}

In [81]:
accounts_json['accounts']

[{'account': 100, 'name': 'Jones', 'balance': 24.98},
 {'account': 200, 'name': 'Doe', 'balance': 345.67}]

In [82]:
accounts_json['accounts'][0]

{'account': 100, 'name': 'Jones', 'balance': 24.98}

In [83]:
accounts_json['accounts'][1]

{'account': 200, 'name': 'Doe', 'balance': 345.67}

In [84]:
with open('accounts.json', 'r') as accounts:
    print(json.dumps(json.load(accounts), indent=4))

{
    "accounts": [
        {
            "account": 100,
            "name": "Jones",
            "balance": 24.98
        },
        {
            "account": 200,
            "name": "Doe",
            "balance": 345.67
        }
    ]
}

In [85]:
grades_dict = {'gradebook':
               [{'student_id': 1, 'name': 'Red', 'grade': 'A'},
                {'student_id': 2, 'name': 'Green', 'grade': 'B'},
                {'student_id': 3, 'name': 'White', 'grade': 'A'}]}

In [86]:
import json

In [87]:
with open ('grades.json', 'w') as grades:
    json.dump(grades_dict, grades)

In [88]:
with open ('grades.json', 'r') as grades:
    print(json.dumps(json.load(grades), indent = 4))

{
    "gradebook": [
        {
            "student_id": 1,
            "name": "Red",
            "grade": "A"
        },
        {
            "student_id": 2,
            "name": "Green",
            "grade": "B"
        },
        {
            "student_id": 3,
            "name": "White",
            "grade": "A"
        }
    ]
}

In [89]:
10 / 0

ZeroDivisionError: division by zero

In [91]:
value = int(input('Enter an integer: '))

Enter an integer:  hello

ValueError: invalid literal for int() with base 10: 'hello'

In [92]:
def try_it(value):
    try:
        x = int(value)
    except ValueError:
        print(f'{value} could not be converted to an integer')
    else:
        print(f'int({value}) is {x}')

In [93]:
try_it(10.7)

int(10.7) is 10

In [94]:
try_it('Python')

Python could not be converted to an integer

In [95]:
try:
    print('try suite with no exceptions raised')
except: 
    print('this will not execute')
else:
    print('else executes because no exceptions in the try suite')
finally:
    print('finally always executes')

try suite with no exceptions raised
else executes because no exceptions in the try suite
finally always executes

In [96]:
try:
    print('try suite that raises an exception')
    int('hello')
    print('this will not execute')
except ValueError:
    print('A ValueError occurred')
else:
    print('else will not execute because an exception occurred')
finally:
    print('finally always executes')

try suite that raises an exception
A ValueError occurred
finally always executes

In [97]:
open('gradez.txt')

FileNotFoundError: [Errno 2] No such file or directory: 'gradez.txt'

In [98]:
try:
    with open('gradez.txt', 'r') as accounts:
        print(f'{"ID":<3}{"Name":<7}{"Grade"}')
        for record in accounts:
            student_id, name, grade = record.split()
            print(f'{student_id:<3}{name:<7}{grade}')
except FileNotFoundError:
    print('The file name you specified does not exist')

The file name you specified does not exist

In [99]:
def try_it(value):
    try:
        x = int(value)
    except ValueError:
        print(f'{value} could not be converted to an integer')
    else:
        print(f'int({value}) is {x}')
    finally:
        print('finally executed')

In [100]:
try_it(10.7)

int(10.7) is 10
finally executed

In [101]:
try_it('Python')

Python could not be converted to an integer
finally executed

In [102]:
def function1():
    function2()

In [103]:
def function2():
    raise Exception('An exception occurred')

In [104]:
function1()

Exception: An exception occurred

In [105]:
import csv

In [106]:
with open('accounts.csv', mode = 'w', newline = '') as accounts:
    writer = csv.writer(accounts)
    writer.writerow([100, 'Jones', 24.98])
    writer.writerow([200, 'Doe', 345.67])
    writer.writerow([300, 'White', 0.00])
    writer.writerow([400, 'Stone', -42.16])
    writer.writerow([500, 'Rich', 224.62])

In [107]:
with open('accounts.csv', 'r', newline='') as accounts:
    print(f'{"Account":<10}{"Name":<10}{"Balance":>10}'){name:<10}{balance:>10}')

SyntaxError: unterminated string literal (detected at line 2) (2258043332.py, line 2)

In [108]:
with open('accounts.csv', 'r', newline='') as accounts:
    print(f'{"Account":<10}{"Name":<10}{"Balance":>10}')
    reader = csv.reader(accounts)
    for record in reader:
        account, name, balance = record
        print(f'{account:<10}{name:<10}{balance:>10}')

Account   Name         Balance
100       Jones          24.98
200       Doe           345.67
300       White            0.0
400       Stone         -42.16
500       Rich          224.62

In [109]:
import csv

In [110]:
with open('grades.csv', mode = 'w', newline = '') as grades:
    writer = csv.writer(grades)
    writer.writerow([1, 'Red', 'A'])
    writer.writerow([2, 'Green', 'B'])
    writer.writerow([3, 'White', 'A'])

In [111]:
with open('grades.csv', 'r', newline = '') as grades:
    print (f'{"ID":<4}{"Name":<7}{"Grade"}')
    reader= csv.reader(grades)
    for record in reader:
        student_id, name, grade = record
        print(f'{student_id:<4}{name:<7}{grade}')

ID  Name   Grade
1   Red    A
2   Green  B
3   White  A

In [112]:
import pandas as pd

In [113]:
df = pd.read_csv('accounts.csv',
                 names = ['account', 'name', 'balance'])

In [114]:
df

   account   name  balance
0      100  Jones    24.98
1      200    Doe   345.67
2      300  White     0.00
3      400  Stone   -42.16
4      500   Rich   224.62

In [115]:
df.to_csv('accounts_from_dataframe.csv', index = False)

In [116]:
df

   account   name  balance
0      100  Jones    24.98
1      200    Doe   345.67
2      300  White     0.00
3      400  Stone   -42.16
4      500   Rich   224.62

In [117]:
df.to_csv

<bound method NDFrame.to_csv of    account   name  balance
0      100  Jones    24.98
1      200    Doe   345.67
2      300  White     0.00
3      400  Stone   -42.16
4      500   Rich   224.62>

#9.12.3 thru 9.12.5 will be completed in the Task 3 notebook.